{% extends 'base.html' %}
{% block title %}Events{% endblock %}
{% block body %}
	<div class="hero-wrap" style="background-image: url('static/images/bhaktapur.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Events</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Events</h1>
          </div>
        </div>
      </div>
    </div>

   	<!-- css is button-style.css -->

	<section id='sectioncolor' class="ftco-section" >

      <div class="container">
			<div class="main-nav">
			<a class="cd-signin" href="#event-form"><button class="btn draw-border"><i class="fa fa-plus"></i>    Create Event</button></a>
          </div>

      </div>
    </section>

	<div id='event-form' class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
		<div class="cd-user-modal-container"> <!-- this is the container wrapper -->



<div class="container-contact100">
			<div class="wrap-contact100">
{#			<form action="{% url 'create_event' %}" method="POST" class="contact100-form validate-form">#}
				<span class="contact100-form-title">
					Create Event
				</span>



			<div id="cd-login"> <!-- log in form -->
				<form action="{% url 'create_event' %}" method="POST" class="cd-form" >
{% csrf_token %}
				<div class="wrap-input100 input100-select">
					<span class="label-input100">Event Type</span>
					<div>
						<select class="selection-2" name="event_type">
                            {%  for event_type in event_types %}
                                <option value="{{ event_type.id }}">{{ event_type.EventType }}</option>
                            {% endfor %}

						</select>
					</div>
					<span class="focus-input100"></span>
				</div>


					<div class="wrap-input100 validate-input" data-validate="Location is required">
					<span class="label-input100">Location</span>
					<select class="selection-2" name="location">
                            {%  for location in locations %}
                                <option value="{{ location.id }}">{{ location.LocationName }}</option>
                            {% endfor %}

						</select>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Date is required">
					<span class="label-input100">Date</span>
					<input class="input100" type="date" name="date" placeholder="Enter Date">
					<span class="focus-input100"></span>
				</div>





				<div class="wrap-input100 validate-input" data-validate = "Description is required">
					<span class="label-input100">Description</span>
					<textarea class="input100" name="description" placeholder="Your description here.."></textarea>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button type="submit" class="contact100-form-btn">
							<span>
								Post
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
						</button>
					</div>
				</div>
				</form>

		</div>
<div id="dropDownSelect1"></div>


{#            </form> #}
            </div>

			<a href="#0" class="cd-close-form">Close</a>
		</div> <!-- cd-user-modal-container -->
		</div>
	</div> <!-- cd-user-modal -->

	
	<section class="ftco-section bg-light">
    	<div class="container">
				<div class="row justify-content-start mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate">
          	<span class="subheading">Events</span>
            <h2 class="mb-4"><strong>Popular</strong> Destinations</h2>
          </div>
        </div>

    		<div class="row">
                 {%  for event in events %}
    			<div class="col-md-6 col-lg-6 ftco-animate">
    				<div class="destination">
    					<a href="#" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url('static/{{ event.EventLocation.LocationImage.url }}');">
    						
    					</a>
    					<div class="text p-3">
    						<h3><i class="icon-map-marker" style='color:#Af002A'></i> {{ event.EventLocation.LocationName }}</h3>

    						<p> Category: {{ event.EventTypeDescription }}<br>

							Description: {{ event.EventDescription }}</p>
    						<hr>
    						<p class="bottom-area d-flex">
    							<span><i class='far fa-calendar-alt' style='font-size:16px;color:#752419' ></i>  Date: {{ event.EventDate }}</span>
							
    							<span class="ml-auto"><a href="{% url 'join_chat' %}?room={{ event.EventTypeDescription }}">Join Group</a></span>
    						</p>
    					</div>
    				</div>
    			</div>
                 {% endfor %}


    		</div>
			
			

    	</div>
    </section>
	
	
	
{% endblock %}